.hero {
  background-color: $color-grey;
  padding-bottom: rem(52px);
  padding-top: rem(24px);
  height: 100vh;
  min-height: rem(650px);
  min-height: rem(650px);
  position: relative;
  &:after {
    @include icon(rem(46px), rem(10px));
    background-color: $color-grey-dark;
    bottom: rem(-4px);
    right: rem(124px);
    transform: rotate(-45deg);
  }

  @include phones {
    height: 100%;
  }
}
