.menu {
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &--modal {
      flex-direction: column;
      font-size: rem(36px);
      line-height: rem(72px);
      color: $color-white;
      text-align: center;
    }
  }

  &__item:not(:last-child) {
    margin-right: rem(20px);
  }

  &__link {
    text-decoration: none;
    color: $color-primary;
    &--modal {
      color: $color-white;
    }
  }
}
