.review {
  background-color: $color-grey-lighter;
  padding: rem(42px) rem(42px) rem(42px) rem(30px);
  display: none;
  position: relative;
  overflow: hidden;

  &:before {
    @include icon(rem(83px), rem(83px));
    left: 50%;
    top: 0;
    transform: translate(-50%, -70%);

    background-color: #fff;
    border-radius: 50%;
  }

  &--active {
    display: flex;
    @include tablets {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }
  &__img {
    width: rem(253px);
    height: rem(264px);
    margin-right: rem(40px);
    @include tablets {
      margin-right: 0;
      width: rem(130px);
      height: rem(130px);
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__content {
    flex: 1;
    padding-top: rem(35px);
  }

  &__title {
    margin-bottom: rem(27px);
  }

  &__text {
    color: $color-ternary;
    margin-bottom: rem(45px);
    width: 82%;
    @include tablets {
      width: 100%;
    }
  }

  &__author {
    font-size: rem(18px);
    font-weight: 700;
  }
}
